<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>Mac_16</string>
			<key>CFBundleTypeIconSystemGenerated</key>
			<integer>1</integer>
			<key>CFBundleTypeName</key>
			<string>解压程序</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>clog</string>
			</array>
			<key>NSDocumentClass</key>
			<string>NSPersistentDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>Mac_16</string>
			<key>CFBundleTypeName</key>
			<string>解压</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>xlog</string>
			</array>
			<key>NSDocumentClass</key>
			<string>NSPersistentDocument</string>
		</dict>
	</array>
</dict>
</plist>
